ion-toolbar{
    --background:blue;
}

ion-title{
    --color:white
}

.header{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

ion-col{
    --ion-grid-column-padding:0px;
}

ion-grid {
    --ion-grid-padding:0px;
}
