<ion-header>
  <ion-toolbar>



      <ion-grid>
          <ion-row>
            <ion-col size="5" size-sm>
              <div class="ion-text-start header">
                  <ion-title>Localites</ion-title>
              </div>
            </ion-col>
            <ion-col size="4" size-sm>
              <div class="ion-text-end header" (click)="registration()">
                  <ion-icon name="person-add"></ion-icon>Sign Up
                  
              </div>
            </ion-col>
            <ion-col size="3" size-sm>
              <div class="ion-text-end header" (click)="login()">
                  <ion-icon name="person"></ion-icon>Login
              </div>

              </ion-col>
           
          </ion-row>
        </ion-grid>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor= "let index of indexes">
      <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
  </div>

</ion-content>
